.page {
  font-family: Arial, sans-serif;
  font-size:16px;

  &__body {
    height: 100vh;
  }

  &__navigation {
    padding: 20px 20px 0;
  }

  &__main {
    margin: 0 auto;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 20px 0;
  }
}

